* {
  box-sizing: content-box;
}

header {
  display: flex;
  justify-content: space-around;
  background-image: linear-gradient(
    darkblue,
    rgb(65, 65, 245),
    rgb(69, 164, 243)
  );
  color: whitesmoke;
  background-position: center bottom;
  padding: 45px 30px;
  text-align: center;
}

span {
  padding: 0px 5px;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin-left: 5px;
}

.card > img {
  max-height: 32px;
  max-width: 32px;
}

.card {
  background-color: rgb(3, 17, 150);
}

.green {
  background-color: rgb(17, 155, 17);
}

.yellow {
  background-color: yellow;
}

.orange {
  background-color: orange;
}

.red {
  background-color: red;
}
